In [1]:
from pyspark.sql import SparkSession
spark_session = SparkSession.builder \
    .master('local[1]') \
    .appName('Example') \
    .getOrCreate()
df = spark_session.createDataFrame(
    [
       (1, 'Giorgos', 'Developer', 28),
       (2, 'Andrew', 'Architect', 31),
       (3, 'Maria', 'Manager', 31),
       (4, 'Ben', 'Developer', 29),
    ],
    ['id', 'name', 'occupation', 'age']
)
df.show()

+---+-------+----------+---+
| id|   name|occupation|age|
+---+-------+----------+---+
|  1|Giorgos| Developer| 28|
|  2| Andrew| Architect| 31|
|  3|  Maria|   Manager| 31|
|  4|    Ben| Developer| 29|
+---+-------+----------+---+

In [2]:
df.select('id', 'name').show()

+---+-------+
| id|   name|
+---+-------+
|  1|Giorgos|
|  2| Andrew|
|  3|  Maria|
|  4|    Ben|
+---+-------+

In [3]:
df.selectExpr('id', 'name', 'age * 2').show()

+---+-------+---------+
| id|   name|(age * 2)|
+---+-------+---------+
|  1|Giorgos|       56|
|  2| Andrew|       62|
|  3|  Maria|       62|
|  4|    Ben|       58|
+---+-------+---------+

In [4]:
df.select('id', 'name', 'age * 2').show()

AnalysisException: cannot resolve '`age * 2`' given input columns: [age, id, name, occupation];
'Project [id#0L, name#1, 'age * 2]
+- LogicalRDD [id#0L, name#1, occupation#2, age#3L], false